name: Trigger auto deployment for conapp0226

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/conapp0226-AutoDeployTrigger-e5873f67-b102-4cbe-b5a8-fe1de69a7552.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CONAPP0226_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONAPP0226_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONAPP0226_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: containerappsjavace46e8.azurecr.io
          registryUsername: ${{ secrets.CONAPP0226_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONAPP0226_REGISTRY_PASSWORD }}
          containerAppName: conapp0226
          resourceGroup: containerapps
          imageToBuild: containerappsjavace46e8.azurecr.io/conapp0226:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


